
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${alue.otsikko}">TODO supply a title</title>
        <meta charset="UTF-8"/>
                        <style>
            body {
                background: black;
                color: red;
                font-family: "Comic Sans MS", "Comic Sans", cursive;
            }
            </style>
    </head>
    <body>
        <a href="/kirjautuminen">Kirjaudu sisään</a> tai luo itsellesi käyttäjätunnus <a href="/rekisteroidy">tästä</a>
        <br/><br/>
        <p>Alue: <span th:text="${alue.otsikko}">alueen nimi</span></p>
        
        <ul>
            <li th:each="keskustelu : ${alueenKeskustelut}">
                <p><a th:href="@{~/alueet/{alueid}/keskustelut/{keskusteluid}/(alueid=${alue.id}, keskusteluid=${keskustelu.id})}"><span th:text="${keskustelu.otsikko}">Alueet</span></a><span> Viestejä yhteensä</span></p>
            </li>
        </ul>
        <br/>
        <p>Vain kirjautuneet käyttäjät voivat lisätä keskusteluja. Luo tunnus tai kirjaudu sisään ylhäältä.</p>
        <br/>        
        <a href="/">Takaisin aluelistaukseen</a>
    </body>
</html>
