<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ryhmä Huttusen huikea foorumi</title>
        <meta charset="utf-8" />
                        <style>
            body {
                background: black;
                color: red;
                font-family: "Comic Sans MS", "Comic Sans", cursive;
            }
            </style>
    </head>

    <body>
        <h1>Ryhmä Huttusen foorumi</h1>
        
        
        <a href="/kirjautuminen">Kirjaudu sisään</a> tai luo itsellesi käyttäjätunnus <a href="/rekisteroidy">tästä</a>
        <br/><br/>
        (voit lis&auml;t&auml; foorumille uusia aihealueita, keskusteluja tai viestij&auml; vain jos olet kirjautunut)
        <br/><br/>
        <p>Valitse aihealue alta (vedä hiiri päälle niin tapahtuu eeppisyyttä;)):</p>
        <ul>
            <li th:each="alue : ${alueet}">
                <p><a th:href="@{~/alueet/{id}/(id=${alue.id})}"><span th:text="${alue.otsikko}" th:title="${alue.kuvaus}">Alueen otsikko</span></a> Viestien määrä: <span th:text="${alue.viestienmaara}"> Viestejä yhteensä</span> Viimeisin viesti: <span th:text="${alue.viimeisinviesti}">Viimeisin viesti aika</span></p>
            </li>
        </ul>


    </body>
</html>