
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${keskustelu.otsikko}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <style>
            td {
                border-top: solid black 1px;
                border-bottom: solid red 1px;
                padding: 1em;
            }
            body {
                background: black;
                color: red;
                font-family: "Comic Sans MS", "Comic Sans", cursive;
            }
            </style>
    </head>
    <body>
        <p th:text="'Olet kirjautunut sisään tunnuksella: '+${kayttaja.tunnus}">Kayttajatunnus</p>
        <a href="/logout">Kirjaudu ulos</a>
        <br/><br/>
<!--        <div>Täällä on kanssa keskustelun viestit, tällä kertaa <b>kirjautuneelle</b></div>-->
        <p>Alue: <span th:text="${alue.otsikko}">alueen nimi</span> -> <b><span th:text="${keskustelu.otsikko}">keskustelun nimi</span></b></p>
        <table>
        <th:block th:each="viesti : ${keskustelunViestit}">
    <tr>
        <td th:text="${viesti.teksti}">Viesti</td>
    </tr>
</th:block>
        </table>
        <br/><br/>
        <!--<p>Täällä mahdollisuus lähettää viestejä.</p>-->
        <form method="POST" th:action="@{~/lahetaviesti/{kayttajaid}/{alueid}/{keskusteluid}/(kayttajaid=${kayttaja.id}, alueid=${alue.id}, keskusteluid=${keskustelu.id})}">
            Vastaa keskusteluun:<br/>
            <textarea name="viesti" rows="5" cols="50"/><br/>
            
            <input type="submit" value="Lähetä!"/>            
        </form>
        <br/>
        <a th:href="@{~/s/users/{kayttajaid}/alueet/{alueid}/(kayttajaid=${kayttaja.id}, alueid=${alue.id})}">Takaisin keskusteluihin</a>
    </body>
</html>
